![logo_ironhack_blue 7](https://user-images.githubusercontent.com/23629340/40541063-a07a0a8a-601a-11e8-91b5-2f13e4e6b441.png)

# Lab | Inferential statistics - T-test & P-value

### Instructions

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances.
   Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file `files_for_lab/student_gpa.txt`.
   At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

   Test statistics can be calculated as: [link to the image - Test statistics calculation for Unpooled Variance Case](https://education-team-2020.s3-eu-west-1.amazonaws.com/data-analytics/7.04/7.04-unpooled_variances.png)

   Degrees of freedom is `(n1-1)+(n2-1)`.

In [60]:
import pandas as pd
import chardet # to detect the type of encoding
from scipy.stats import ttest_ind, norm

In [48]:
# Trying new things to open txt files
file = open('machine.txt', 'rb').read() # opening the file in binary, as bytes
result = chardet.detect(file) # detecting the type of encoding
encoding = result['encoding'] # saving the results

# opening the dataframe
df = pd.read_fwf('machine.txt', encoding=encoding)
df.head(10)

   New machine   Old  machine
0         42.1  42.7      NaN
1         41.0  43.6      NaN
2         41.3  43.8      NaN
3         41.8  43.3      NaN
4         42.4  42.5      NaN
5         42.8  43.5      NaN
6         43.2  43.1      NaN
7         42.3  41.7      NaN
8         41.8  44.0      NaN
9         42.7  44.1      NaN

In [49]:
# Mnnnnyeh !
df.drop('machine', axis=1, inplace=True) # Droping extra column like its NaN

In [50]:
df.rename(columns={'Old': 'old_machine', 'New machine': 'new_machine'}, inplace=True)
df.head(20) # Ta-Da !

   new_machine  old_machine
0         42.1         42.7
1         41.0         43.6
2         41.3         43.8
3         41.8         43.3
4         42.4         42.5
5         42.8         43.5
6         43.2         43.1
7         42.3         41.7
8         41.8         44.0
9         42.7         44.1

1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test

In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file `files_for_lab/machine.txt`.
Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

In [59]:
old_machine = list(df['old_machine'])
new_machine = list(df['new_machine'])
print(f'Old Machine: {old_machine}\nNew_machine: {new_machine}')

Old Machine: [42.7, 43.6, 43.8, 43.3, 42.5, 43.5, 43.1, 41.7, 44.0, 44.1]
New_machine: [42.1, 41.0, 41.3, 41.8, 42.4, 42.8, 43.2, 42.3, 41.8, 42.7]

In [62]:
ttest_ind(old_machine, new_machine) # t-test

Ttest_indResult(statistic=3.3972307061176026, pvalue=0.0032111425007745158)

- With 95% of confidence we have enough evidence to discard the `null hypothesis`
- The average packing speeds between old and new machines are not the same.
- Comparing the means and checking the positive t-statistics we can say `new machines` pack faster.
Further test